@keyframes moveTrain {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }
  
  
    .container-background {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .kota {
      position: absolute;
      top: 33%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: auto;
      display: block;
      z-index: -1;
    }

    .land {
      position: absolute;
      top: 375px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      display: fill;
      z-index: 1;
    }
  
    .track {
      position: absolute;
      display: fill;
      bottom: 0;
      top: 38%;
      left: -1px;
      width: 100vw;
      z-index: 3;
    }
  
    .train {
      position: fixed;
      display: fill;
      width: 155vw;
      bottom: 61%;
      animation: moveTrain 8s linear infinite;
      z-index: 3;
    }
    .pancoran {
      position: fixed;
      display: fill;
      width: 10vh;
      top: 8%;
      left: 2vw;
    }

    .monas {
      position: fixed;
      display: fill;
      width: 33%;
      top: 8%;
      left: 36vw;
    }
  
    .hi {
      position: fixed;
      display: fill;
      width: 20vh;
      top: 14%;
      right: -12vw;
    }


