@keyframes moveTrain {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100vw);
    }
  }
  
  .train {
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 2000px;
    height: 145px;
    animation: moveTrain 10s linear infinite;
  }
  
  .track {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #333;
  }
  
  @media (max-width: 768px) {
    .train {
      width: 60px;
      height: 24px;
      bottom: 12px;
    }
  
    .track {
      bottom: 6px;
      height: 3px;
    }
  }