@keyframes moveTrain {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(100vw);
    }
  }
  
  
    .container-background {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .kota {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: auto;
      display: block;
      z-index: -1;
    }

    .land {
      position: absolute;
      bottom: 0;
      width: 100vw;
      display: block;
      z-index: 1;
    }
  
    .track {
      position: absolute;
      display: fill;
      bottom: 0;
      width: 100vw;
      z-index: 3;
    }
  
    .train {
      position: fixed;
      display: fill;
      width: 80vw;
      bottom: 28%;
      animation: moveTrain 10s linear infinite;
      z-index: 3;
    }

    .pancoran {
      position: fixed;
      display: fill;
      width: 15vh;
      top: 10%;
      left: 10vw;
    }

    .monas {
      position: fixed;
      display: fill;
      width: 23vh;
      top:  5%;
      left: 30vw;
    }
  
    .hi {
      position: fixed;
      display: fill;
      width: 30vh;
      top: 20%;
      right: 10vw;
    }



